name: Extension Deployment
on:
  push:
    branches:
      - main
jobs:
  Firefox:
    name: Build Extension for Firefox
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
          
    - name: Install Dependencies
      run: npm ci

    - name: Build
      run: |-
        npm run build:firefox
        zip -r firefox-extension-${{ github.event.pull_request.head.sha }}.zip dist
        
    - name: Archive Extension Artifact
      uses: actions/upload-artifact@v2
      with:
        name: firefox-extension-${{ github.sha }}
        path: firefox-extension-${{ github.event.pull_request.head.sha }}.zip

  Chrome:
    name: Build Extension for Chrome
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          
      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: |-
          npm run build
          zip -r chrome-extension-${{ github.event.pull_request.head.sha }}.zip dist
          
      - name: Archive Extension Artifact
        uses: actions/upload-artifact@v2
        with:
          name: chrome-extension-${{ github.sha }}
          path: chrome-extension-${{ github.event.pull_request.head.sha }}.zip
          
